#forums {
    
}

#forums-post {
    h1 {
        margin-bottom: 3px;
    }
}

#forums-view,
#forums-topic {
    .postingOptions {
        margin-top: 10px;
        .right;
    }
}

#forums-topic {
    .postWrap {
        .grayWrap;
        
        .postOptions {
            .textCenter;
            .menu;
            .buttons;
            
            a {
                .darkerBox;
                color: #666;
            }
        }
        
        .plainTable tr td:last-child {
            padding-left: 10px;
        }
    }
}