#index {
    .flexslider {
        margin: -10px -10px 10px;
    }
    
    .recentNews {
        .grayWrap;
        
        .label a {
            color: darken(#FFF, 50%);
            
            &:hover {
                text-decoration: none;
            }
        }
        
        #newsreel {
            .right;
        }
    }
}