@import "mixins/_lists";

.overview__alert-counts__alerts,
.overview__alert-counts__messages {
  @extend .message;

  display: block;
}

.overview__alert-counts__count {
  background: $blue;
  font-size: .8rem;
  color: #FFF;
  padding: $standard-padding / 4 $standard-padding / 2;
  border-radius: 5px;
  display: inline-block;
  float: right;
}

@media #{$media-tablet} {
  #account {
    .account__sidebar {
      float: left;
      width: 30%;

      h4 {
        background: #CCC;
        border-bottom: 3px solid #999;
        padding: $standard-padding;
        margin-bottom: 0;
        cursor: pointer;
      }

      nav {
        @include inline-list;

        a {
          background: #E1E1E1;
          color: #000;
          padding: $standard-padding;
          border-bottom: 1px solid #999;
          display: block;

          &:hover {
            background: #F1F1F1;
          }
        }
      }
    }

    .account__sidebar__menu {
      margin-bottom: $standard-padding;
    }

    .account_sidebar__menu__nav {
      display: none;

      &.account_sidebar__menu__nav--active {
        display: block;
      }
    }

    .account__main {
      float: right;
      width: 68%;
      margin-left: 2%;

      h2 {
        padding: $standard-padding 0;
        margin-bottom: 0;
      }
    }
  }

  #overview {
    .overview__profile-pic {
      float: left;
      display: inline;
      margin-right: $standard-padding;
    }

    .overview__alert-counts__alerts,
    .overview__alert-counts__messages {
      float: left;
      width: 50%;
      box-sizing: border-box;
    }

    .overview__alert-counts__alerts {
      width: 48%;
      margin-right: 2%;
    }
  }
}