#errors {
	.left {
		text-align: center;
		margin-bottom: $standard-padding;
	}

	@media #{$media-desktop} {
		.left {
			padding-right: $standard-padding;
			
			img {
				max-width: 100%;
			}
		}
	}
}