.quote,
.code {
    .plainBox;
    margin: 10px 0 !important;
}

.quote {
    .lighterBox;
    
    border-style: dashed;
    
    .quoting {
        .right;
        font-size: .8em;
    }
}

.code {
    background: #FFF;
    font-family: courier;
    border: 1px dashed #999;
    padding: 10px;
}