.tabs {
    .tabMenu {
        background: @old-base;
        padding: 10px;
        
        .menu;
        
        ul li {
            margin-left: -5px;
            
            a {
                font-size: .8em;
                color: #FFF;
                text-decoration: none;
                padding: 7px 7px 11px;
                
                &.active {
                    background: @darker;
                    color: #FFF;
                }
            }
        }
    }
    
    .tabContent .tabBody {
        display: none;
        
        &.active {
            display: block;
        }
    }
}

.verticalTabs {
    border-right: 2px solid darken(#FFF, 10%);
    padding: 10px 0;
    margin-bottom: 10px;
    
    * {
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style: none;
        
        a {
            color: #000;
            display: block;
            padding: 10px;
            margin-bottom: 5px;
            
            &:hover,
            &.active {
                background: darken(#FFF, 10%);
                text-decoration: none;
            }
        }
    }
    
    h2 {
        margin-bottom: 10px;
    }
}
