a {
    color: @dark;
    
    &:hover {
        text-decoration: none;
    }
}

a.redLink,
.redText {
    color: #A00 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    margin: 10px 0;
    padding: 0;
    
    &:first-of-type {
        margin-top: 0;
    }
}

h1 {
    font-weight: 400;
    position: relative;
    z-index: 1;
}

.h1Description {
    margin: -10px 0 10px;
}

.grayWrap h1 {
    margin-bottom: 0;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.textJustify {
    text-align: justify;
}

.textRight {
    text-align: right;
}
    
.description {
    color: #666;
    font-size: .8em;
    margin-top: 3px;
    
    a {
        color: #666;
    }
}