<div id="overview">
  <h2>Account Overview</h2>
  <div class="message">
    <div class="overview__profile-pic">
      <%= image_tag current_user.profile_pic_url %>
    </div>
    <div class="overview__account-info">
      <h4><%= current_user.username %></h4>
      <p><strong>Account Level:</strong> Member</p>
      <p><strong>Member Since:</strong> <%= l current_user.created_at, format: :datetime %></p>
    </div>
    <div class="clear"></div>
  </div>
  <p class="message text--center"><%= link_to "Update my Track Record", root_path %></p>
</div>