<div class="slideshow" id="slideshow">
	<ul>
		<li class="slideshow__slide--first slideshow__slide--voyage-holiday-world-lift-hill"><p>The Voyage at Holiday World</p></li>
		<li class="slideshow__slide--dragster-cedar-point-winter-chillout"><p>Top Thrill Dragster at Cedar Point</p></li>
		<li class="slideshow__slide--cheetah-hunt-busch-gardens-tampa-turn"><p>Cheetah Hunt at Busch Gardens Tampa</p></li>
		<li class="slideshow__slide--kraken-seaworld-orlando-turning-to-diving"><p>Kraken at SeaWorld Orlando</p></li>
		<li class="slideshow__slide--maverick-cedar-point-launched-lift"><p>Maverick at Cedar Point</p></li>
	</ul>
	<div class="slideshow__slide__text-background">&nbsp;</div>
</div>