/**
 * General containers
 */
body {
    background: #E1E1E1;
    font-family: Helvetica;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#header {
    background: #4986E1;
    height: 100px;
    padding-left: 20px;
    border-bottom: 5px solid #046;
}

#header #logo {
    background: url('/assets/images/themes/2014/logo.png') no-repeat;
    background-position: center center;
    display: block;
    text-indent: -99999px;
    width: 201px;
    height: 100px;
}

#header #navigation {
    float: right;
}

#header #navigation * {
    margin: 0;
    padding: 0;
}

#header #navigation li {
    display: inline;
    list-style: none;
    margin-right: -10px;
}

#header #navigation li:last-child {
    margin-right: 0;
}

#header #navigation li a {
    color: #FFF;
    text-decoration: none;
    line-height: 100px;
    display: inline-block;
    height: 100px;
    padding: 0 20px;
}

#header #navigation li a:hover,
#header #navigation li a.active {
    background: #046;
}

#main {
    padding: 20px;
}

#sidebar {
    float: left;
    width: 20%;
    padding: 10px 0;
    box-sizing: border-box;
    z-index: 2;
    position: relative;
}

#sidebar * {
    margin: 0;
    padding: 0;
}

#sidebar li {
    list-style: none;
    max-width: 100%;
    margin-bottom: 10px;
}

#sidebar li a {
    background: transparent;
    text-decoration: none;
    display: block;
    padding: 13px;
    margin-right: -3px;
}

#sidebar li a:hover{
    background: #CCC;
    border: 3px solid #E1E1E1;
    border-right: 0;
    padding: 10px;
    margin-right: -1px;
}

#sidebar li a.active {
    background: #FFF;
    border: 3px solid #CCC;
    border-right: 0;
    padding: 10px;
    margin-right: -4px;
}

#content {
    background: #FFF;
    padding: 20px;
    box-sizing: border-box;
    float: right;
    width: 80%;
    border-left: 3px solid #CCC;
    border-bottom: 3px solid #CCC;
    z-index: 1;
    position: relative;
    min-height: 500px;
}

.alert {
    background: #A00;
    color: #FFF;
    padding: 10px;
    margin-bottom: 10px;
}

/**
 * Typography
 */

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-weight: 200;
    margin: -5px 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid #000;
}

h2 {
    margin: 0 0 10px;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.description {
    font-size: .75em;
}

/**
 * Boxes
 */
.box {
    background: #E1E1E1;
    padding: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/**
 * Forms
 */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"] {
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

form input[type="submit"] {
    background: #242424;
    color: #FFF;
    font-size: 1.1em;
    font-weight: 100;
    padding: 5px;
    border: 0;
    cursor: pointer;
}

form .field {
    padding: 10px 0;
}

form .field .label {
    margin-bottom: 5px;
    display: inline-block;
}

form .field .error {
    color: #A00;
}

form .field:last-child {
    text-align: center;
    padding-top: 10px;
}

/**
 * Boxes and Tables
 */
.dataTable table {
    width: 100%;
    border-collapse: collapse;
}

.dataTable table th {
    text-align: left;
}

.dataTable table th,
.dataTable table td {
    padding: 10px;
}

.dataTable table tr:nth-child(even) {
    background: #E1E1E1;
}

/**
 * Pages
 */
#admin-signin #signin-form {
    background: #FFF;
    width: 500px;
    margin: 50px auto 0;
    padding: 20px;
}

#admin-signin #sidebar,
#admin-signin #content #pageTitle {
    display: none;
}

#admin-signin #content {
    background: transparent !important;
    width: 100%;
    float: none;
    border: none;
}

/**
 * Stuff....
 */
.dataSizeBar {
    background: #CCC;
    height: 20px;
    margin-top: 10px;
}

.dataSizeBar div {
    color: #FFF;
    font-size: .75em;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    padding: 0 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.dataSizeBar .blue {
    background: blue;
}

.dataSizeBar .green {
    background: green;
}