<h1>There has been an Error</h1>
<div class="left"><img src="/assets/error_pages/500.gif" /></div>
<div class="right">
	<p><strong>Top Coasters has broken down, a mechanic is on their way to fix the problem.</strong></p>
	<p>This issue should be resolved quickly. Thank you for your patience.</p>
</div>
