@import "mixins/_lists";

$logo-height: 80px;
$logo-width: 165px;

@mixin activeNav {
  background: $dark-green;
}

header {
  background-color: $blue;
  color: #FFF;
  line-height: $logo-height / 3;
  padding: $standard-padding 0;
  border-top: 5px solid $dark-blue;
  
  a {
    color: #FFF;
  }
}

#branding a {
  background-image: url('logos/standard.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  text-indent: -99999px;
  display: block;
  width: $logo-width;
  margin: 0 auto;
}

.header__main-nav-drop,
.header__member-nav-drop {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  text-indent: -99999px;
  width: $logo-height / 3;
  height: $logo-height / 3;
  padding: $standard-padding;
  position: absolute;
  top: 5px;
}

.header__main-nav-drop {
  background-image: url('nav/main_drop.png');
  right: 0;
}

.header__member-nav-drop {
  background-image: url('nav/member_drop.png');
  left: 0;
}

.header__member-nav--member,
.header__member-nav--guest {
  a {
    display: inline-block;
    margin-right: $standard-margin;
  }
}

.nav__main,
.header__member-nav {
  @include inline-list;

  background: #7BC342;
  color: #FFF;
  overflow: hidden;
  border-bottom: 5px solid $dark-green;
  display: none;
  margin-bottom: $standard-margin;

  li {
    display: block;
  }

  a {
    @include activeNav;

    color: #FFF;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: $standard-padding 0;
    margin: $standard-padding;
  }
}

.header__member-nav {
  background: transparent;
  border-bottom: 0;
  margin: $standard-margin 0 0;

  li a {
    background: $dark-blue;
  }
}

@media #{$media-desktop}  {
  header {
    line-height: $logo-height / 2.75;

    .wrapper {
      position: relative;
    }
  }

  .header__main-nav-drop,
  .header__member-nav-drop {
    display: none;
  }

  #branding a {
    background-position: center left;
    display: block;
    margin: 0;
  }

  .header__member-nav {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;

    .member-nav__member {
      background: $dark-blue;
      border-radius: 5px;
      padding: $standard-padding / 4 $standard-padding * 4 $standard-padding / 4 $standard-padding;
      margin-top: -2px;
      float: right;
      cursor: pointer;
      position: relative;

      &:before {
        border: $standard-padding / 1.75 solid transparent;
        border-top-color: #FFF;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        right: $standard-padding * 1.5;
        top: $standard-padding * 1.5;
      }
    }

    .member-nav__alert-count {
      background: $blue;
      font-size: .75rem;
      padding: $standard-padding / 3 $standard-padding / 2;
      margin-left: $standard-padding * .8;
      border-radius: 3px;

      &.member-nav__alert-count--alerts {
        background: #F00;
      }
    }

    .member-nav__member__pop-down {
      background: $dark-blue;
      border-radius: 5px;
      width: 300px;
      padding: $standard-padding;
      position: absolute;
      top: 4.5 * $standard-padding;
      right: 0;
      z-index: 5;
      cursor: default;
      display: none;

      &:before {
        border: 2 * $standard-padding solid transparent;
        border-bottom-color: $dark-blue;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        right: 0;
        top: -3 * $standard-padding;
      }
    }

    .member-nav__profile-pic {
      width: 75px;
      float: left;
    }
  }

  .nav__main {
    display: block;

    ul {
      width: 100%;
      display: table;
      table-layout: fixed;

      li {
        display: table-cell;
      }
    }

    a {
      background-color: $green;
      color: #FFF;
      text-decoration: none;
      text-align: center;
      display: block;
      padding: $standard-padding;
      margin: 0;

      &:hover,
      &:active {
        @include activeNav;
      }
    }
  }
}
