#flash__message--notice,
#flash__message--alert {
	padding: $standard-padding;
	margin: -1 * $standard-padding 0 $standard-padding;
	border: 5px solid $dark-notice-color;
	border-top: 0;
	display: none;
}

#flash__message--notice {
	background-color: $notice-color;
}

#flash__message--alert {
	background-color: $alert-color;
	color: #FFF;
	border-color: $dark-alert-color;
}