.form__box {
  background: #F1F1F1;
  padding: $standard-padding;
  margin: $standard-padding 0;
}
  
form {
  #error_explanation {
    background: $alert-color;
    color: #FFF;
    padding: $standard-padding;
    margin-bottom: $standard-padding;

    h2 {
      font-size: 1rem;
      margin-top: 0;
    }
  }

  .form__field {
    margin-bottom: $standard-padding;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.form__field--checkbox {
      label {
        display: inline;
      }
    }
  }

  label {
    display: block;
  }

  input {
    font-size: 1rem;
    width: 100%;
    padding: $standard-padding / 2;
    box-sizing: border-box;
    outline: none;
  }

  input[type="checkbox"] {
    width: auto;
  }

  input[type="submit"] {
    background: $blue;
    color: #FFF;
    border: 0;
    cursor: pointer;
  }
}