.form__box {
  background: #F1F1F1;
  padding: $standard-padding;
  margin: $standard-padding 0;
}

form {
  .form__field {
    margin-bottom: $standard-padding;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.form__field--checkbox {
      label {
        display: inline;
      }
    }
  }

  label {
    display: block;
  }

  input,
  select {
    background: #FFF;
    font-size: 1rem;
    width: 100%;
    padding: $standard-padding / 2;
    border: 1px solid #999;
    box-sizing: border-box;
    outline: none;
  }

  input[type="checkbox"] {
    width: auto;
  }

  input[type="submit"] {
    background: $blue;
    color: #FFF;
    border: 0;
    cursor: pointer;
  }

  select {
    display: inline;
    width: auto;
  }
}