form {
  .field {
    margin-bottom: $standard-padding;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  input {
    font-size: 1rem;
    width: 100%;
    padding: $standard-padding / 2;
    box-sizing: border-box;
    outline: none;
  }

  input[type="checkbox"] {
    width: auto;
  }

  input[type="submit"] {
    background: $blue;
    color: #FFF;
    border: 0;
    cursor: pointer;
  }
}