@import 'mixins/lists';

$logo-height: 35px;
$logo-width: 188px;

header {
  background: #006594;
  line-height: $logo-height;
  padding: $standard-padding 0;
  
  a {
    color: #FFF;
  }
}

#branding a {
  background-image: url('logos/standard.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  text-indent: -99999px;
  display: inline-block;
  width: $logo-width;
}

.nav--active {
  background: darken(#7BC342, 10%);
}

nav {
  @include inline-list;

  background: #7BC342;
  color: #FFF;
  overflow: hidden;
  border-bottom: 5px solid darken(#7BC342, 10%);

  ul {
    width: 100%;
    display: table;
    table-layout: fixed;

    li {
      display: table-cell;
    }
  }

  a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: $standard-padding;

    &:hover,
    &:active {
      @extend .nav--active;
    }
  }
}

#header__member-info {
  @include inline-list;

  float: right;

  a {
    display: inline-block;
    margin-left: $standard-padding;
  }
}

#nav__home {
  @extend .nav--active;
}

#nav__search {
  padding-left: $standard-padding;
}
