<% content_for :main do -%>
  <h1>Account Settings</h1>
  <nav class="left">

  </nav>
  <div class="right"><%= yield %></div>
  <div class="clear"></div>
<% end -%>

<%= render :file => 'layouts/base' %>